<div class="container">
  <h1 id= 'article-index-header', class='center '>Articles</h1>
  <div class='center'>
    <%= will_paginate %>
  </div>
  <%= render 'article', obj: @articles %>
  <% if @articles.length > 3 %>
    <div class='center'>
      <%= will_paginate %>
    </div>
  <% end %>
</div>