<div class="container">

        <h1>About</h1>
        <p><%=link_to image_tag('New Morning video still.jpg',{height: 400}), "http://timhallmusic.com" %></p>
       <!--<img src= "https://images.unsplash.com/photo-1463134443644-45f4dc57a612?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=d50c99fb5afa6fccb143cb1a20eeed37", class="img-responsive" alt="Responsive image">-->
         <div class="row">
            <div class= "col-md-9 pull-left">
                <p class="text-justify">
                    Aside from tech aspirations, I am also a musician. I sing, 
                    play guitar and write my own material. In the past I have been
                    signed to two labels, toured the United States and Japan, 
                    and recorded several of my own independent releases and produced 
                    three music video projects. Click <%= link_to "Here", "http://timhallmusic.com", :target => "_blank" %>  or the image above to visit my website.
                </p>
                <p><%= link_to 'Blog', articles_path %> | <%= link_to 'Home', root_path %></p> 
                 
            </div>
</div>        