$navbar-default-bg: #000000;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float:left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #F50909;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('macbook.jpg');
  background-position: center;
  color: #F50909;
  height: 375px;
}